<style>td { padding: 0 .5rem; }</style>
<table style="width: 100%; border-collapse:collapse;" border="1">
  <thead>
    <th>id</th>
    <th>timestamp</th>
    <th>source</th>
    <th>event</th>
    <th>message</th>
  </thead>
  <tbody>
    <% Log.all.order(created_at: :desc).first(500).each do |log| %>
      <tr>
        <td><%= log.id %></td>
        <td style="white-space: nowrap;"><%= log.created_at.in_time_zone(Timeframe::Application.config.local["timezone"]).strftime('%a %b %e %I:%M:%S %p') %></td>
        <td><%= log.globalid %></td>
        <td style="white-space: nowrap;"><%= log.event %></td>
        <td>
          <details>
            <summary><%= log.message.lines.first %></summary>
            <%= log.message.lines[1..-1].join.html_safe %>
          </details>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>