<div class="row justify-content-center mt-4">
  <div class="col-md-6 col-lg-4">
    <h2 class="mb-4">Sign in or sign up</h2>

    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>

      <h3 class="mt-4">Have a token?</h3>

      <%= form_tag(user_magic_link_path, method: :get) do %>
        <div class="mb-3">
          <%= label_tag :token, "Token", class: "form-label" %>
          <%= text_field_tag :token, nil, autofocus: true, autocomplete: "off", class: "form-control" %>
        </div>

        <div>
          <%= submit_tag "Sign in with token", class: "btn btn-primary" %>
        </div>
      <% end %>
    <% else %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="mb-3">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div>
          <%= f.submit "Send magic link", class: "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
