<!DOCTYPE html>
<html>
  <head>
    <title>Timeframe</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>" data-flash="<%= key %>">
        <%= value %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
